/*fonts and colors*/
body {
  background: rgb(240, 240, 240);
  color: rgb(50,50,50);
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(235, 147, 78);
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(235, 147, 78);
  font-weight: lighter;
  font-size: 25px;
}
a {
  color: rgb(50, 50, 50);
}
/*designs*/
#banner {	
    background-image:url("images/van.jpg");
	background-size: cover;
	text-align: left;
	background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

}
#banner h1 {
	color: white;
	font-size: 50px;
}
#banner p {
	opacity: 0.7;
	font-size: 30px;
	color: white;

}
#banner a {
	font-size: 30px;
}
.features {
	padding: 10px;
	text-align: center;
}
#footer {
	padding: 20px;
	text-align: center;
}
#footer a {
	font-size: 20px;
	color: rgb(50, 50, 50);
}
#footer a:hover {
	font-size: 25px;
	color: rgb(235, 147, 78);
}
.media-list {
    display: flex;
    justify-content: space-around;
}
.row {
  margin: 10px;
  padding: 10px;
  text-align: left;
}